// Based on JavaScriptCore-iOS-Static.xcconfig file from JavaScriptCore-iOS project
// Header from original file pasted below 
//
//  JavaScriptCore-iOS-Static.xcconfig
//  JavaScriptCore
//
//  Created by Martijn The on 1/17/14.
//
//

#include "JavaScriptCore/Configurations/JavaScriptCore.xcconfig"

ONLY_ACTIVE_ARCH = NO;
SDKROOT = iphoneos;
BUILD_VARIANTS = normal;
STRIP_INSTALLED_PRODUCT = YES;
OTHER_LDFLAGS = ;
PRODUCT_NAME = JavaScriptCore;

SECTORDER_FLAGS = ;
SECTORDER_FLAGS_iphoneos = ;

GCC_GENERATE_DEBUGGING_SYMBOLS = NO;
GCC_OPTIMIZATION_LEVEL = 3;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) HAVE_DTRACE=$(HAVE_DTRACE) WEBKIT_VERSION_MIN_REQUIRED=WEBKIT_VERSION_LATEST HAVE_HEADER_DETECTION_H JSC_OBJC_API_ENABLED=0 JSC_OBJC_API_AVAILABLE_MAC_OS_X_1080 $(FEATURE_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS) __MAC_OS_X_VERSION_MIN_REQUIRED=0 ENABLE_YARR_JIT=0 ENABLE_YARR_JIT_DEBUG=0 ENABLE_JIT=0;

ENABLE_REMOTE_INSPECTOR = ENABLE_REMOTE_INSPECTOR=0; // Requires XPC

PRIVATE_HEADERS_FOLDER_PATH = PRIVATE_HEADERS;
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO;

